button.icon-button {
    background: transparent;
    color: #666666;
    border: none;
    padding: 5px;
    min-width: 36px;
    height: 36px;
    font-size: 14px;
    &:focus , &:active, &:hover, &:not(:disabled):not(.disabled):active{
        background-color: #f5f5f5;
        color: #222222;
        background-color: #f5f5f5;
        color: #222222;
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }
}
button.icon-button.add-todo-btn{
    color: #63d5c3;
    font-size: 16px;
    &:focus , &:active, &:hover, &:not(:disabled):not(.disabled):active {
        color: #63d5c3;
    }
}
.todo-list{
    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #e2eae9;
        padding: 5px 16px;
        align-items: center;
        align-content: center;
    }
    &__header-title {
        font-size: 14px;
        margin: 0;
    }
    &__content {
        padding: 16px;
        overflow: auto;
        height: 500px;
    }
    &__footer {
        background-color: #f4f4f4;
        padding: 12px 16px;
        p{
            margin: 0;
            color: #666666;
        }
        a{
            color: #2ca5c2;
            :hover{
                color:  #2ca5c2;
                text-decoration: underline;
            }
        }
    }
}

.todo-wrapper .card-body {
    padding: 0;
}